.Site-detail-career {
  width: 100%;
  height:600px ;
  align-content: center;
  background-image: url("./images/Kangayam_BUll.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.Site-detail-support {
  width: 100%;
  align-content: center;
  padding: 2%;
}

.Site-detail-career p {
  font-size: xx-large;
  margin-left: 10%;
  padding-top: 5%;
  color: green;
}

.Site-detail-career a {
  font-size: xx-large;
  margin-left: 10%;
  padding-top: 5%;
  text-decoration: none;
}

.About-us {
  width: 95%;
  font-size: medium;
  margin: 3%;
}

.About-us p {
  color: grey;
}

.starting-para {
  text-indent: 3%;
}

.About-us .para-title {
  font-size: larger;
  color: black;
  font-family: Verdana;
}

@media screen and (max-width: 960px) {
.Site-detail-career {
  width: 100%;
  height: fit-content;
  background-image: url("./images/Kangayam_BUll.jpg");
  background-size: 100%;
}
}