.title{
  margin-top: 0%;
}
.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 0;
  margin: 3% 6%;
  border-radius: 10px;
}

.button {
  float: right;
  margin-left: 900px;
  font-size: medium;
  text-decoration: none;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 300px;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic--wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic--wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 3%;
  margin-left: 10px;
  padding: 2px 8px;
  max-width: calc((100%) - 60px);
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  background-color: #0d601a;
  box-sizing: border-box;
  border-radius: 20%;
  font-family: Verdana;
}
.cards_item_pic--wrap--pregnant::after {
  content: attr(is-pregnant);
  position: absolute;
  top: 3%;
  margin-left: 10px;
  padding: 2px 5px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 100;
  color: #0d601a;
  background-color: #ffe77a;
  box-sizing: border-box;
  border-radius: 20%;
  font-family: Verdana;
}
.cards_item_pic--wrap--new::after {
  content: attr(is-new);
  position: absolute;
  top: 40px;
  margin-left: 10px;
  padding: 2px 5px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 100;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 20%;
  font-family: Verdana;
}
.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__link:hover {
  text-decoration: none;
}

.cards__item__info {
  margin-left: 2%;
}

.cards__item__name {
  color: #252e48;
  font-weight: 1000;
  font-size: 15px;
}

.cards__item__text {
  color: #252e48;
  font-size: 13px;
}

.cards__item__about {
  color: #252e48;
  font-size: 13px;
}

.cards__item__gender_milkproduce {
  color: #252e48;
  font-size: 13px;
  display: inline;
}

.cards__item__originalprice {
  color: #252e48;
  padding-left: 1%;
  font-size: 12px;
  text-decoration: line-through;
  display: inline;
  float: right;
}

.detail_originalprice {
  padding-left: 2%;
  text-decoration: line-through;
}

.btn-addtocart {
  float: left;
  display: flex;
  padding-left: 2%;
  height: 10%;
  width: 10%;
}

.detail_discountprice {
  color: red;
}

.cards__item__discountprice {
  color: red;
  font-size: 15px;
  padding-left: 1%;
  display: inline;
  float: right;
}

.product-list-empty {
  background-color: rgba(95, 94, 94, 0.123);
  border-radius: 2.5%;
  width: 80%;
  padding: 2%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 15%;
}

.product-list-empty-heading {
  font-size: large;
}

.product-detail-name {
  font-size: xx-large;
}

.product-detail-title {
  font-size: larger;
}

.product-detail-btn {
  height: 10%;
}

.modal-success {
  color: #296931;
}

.modal-failure {
  color: rgb(228, 92, 92);
}

.modal-message-title {
  font-size: x-large;
  font-weight: 600;
}

.modal-message-content {
  font-size: medium;
}

.span-one {
  margin-left: 1%;
}

.product-detail-vetcheck {
  font-size: small;
  padding-left: 2%;
  color: rgb(78, 162, 211);
}

.product-detail-vet-check-yet-to-done {
  color: rgb(19, 110, 214);
  margin-bottom: 5%;
}

.product-detail-vaccination-yet-to-done {
  color: rgb(19, 110, 214);
  margin-bottom: 5%;
}

.product-detail-stock-info {
  padding-left: 2%;
}

.product-detail-seller {
  padding-left: 5%;
  font-size: medium;
}

.product-detail-seller-phone {
  font-size: x-large;
  color: rgb(37, 139, 77);
  display: flex;
}

.product-detail-seller-phone-number {
  text-align: justify;
}

.product-detail-freedelivery {
  padding-right: 1%;
  font-size: large;
  font-weight: 800;
  color: goldenrod;
}

.product-detail-instock {
  color: #0d601a;
  font-size: larger;
}

.product-detail-outofstock {
  color: red;
  font-size: large;
}

.product-detail-min-stock {
  font-size: smaller;
}

.product-detail-display-inline {
  display: flex;
}

.product-detail-quantity {
  font-size: medium;
  padding-right: 1%;
}

.product-detail-quantity-value {
  width: 15%;
  padding-bottom: 2%;
}

.help-link {
  text-decoration: none;
}

.help-link:hover {
  text-decoration: none;
}

.vet-check-save-error-message {
  color: red;
}

.error {
  color: red;
}

.warn {
  color: rgb(219, 88, 99);
}















@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
