.navbar {
  background: linear-gradient(90deg, #0c5d18 0%, #0f641c 100%);
  height: 15vh;
  display: flex;
  color: #fff;
  /* font-size: 1.5rem; */
}

.nav-site-title {
  margin-bottom: 1%;
  margin-left: 20%;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: xx-large;
  font-weight: 700;
}

.nav-site-title2:hover {
  color: whitesmoke;
  transform: scale(1.08);
  text-decoration: none;
}
.nav-site-title2 {
  margin-bottom: 1%;
  margin-left: 0%;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size:large;
  font-weight: 700;
}

.nav-site-title:hover {
  color: whitesmoke;
  transform: scale(1.08);
  text-decoration: none;
}

/* .navbar-title {
  padding-top: 1%;
} */

.nav-menu-div {
  width: 50vw;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  padding-top: 1%;
  grid-gap: 5%;
  list-style: upper-latin;
  text-align: center;
  justify-content: end;
  margin-right: 5%;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  transition: transform 250ms;
  font-size: large;
}

.nav-links:hover {
  transform: translateY(5px);
  text-decoration: none;
  border: 0px;
  border-bottom: #fff;
  color: #fff;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #456e2d;
  }

  .navbar-logo {
    position: absolute;
    width: 50%;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
  .nav-link-bar{
  display:show;
  margin-left: 1%;
  }
  .navbar-logo {
    display:none;
    }
  .navbar {
    background: linear-gradient(90deg, #0c5d18 0%, #0f641c 100%);
    height: 10vh;
    display: flex;
    color: #fff;
    /* font-size: 1.5rem; */
  }
  .dropdowncls{
    margin-top: -3%;
    margin-left: 20%;
  }
  .dropdowncls2{
    margin-top: -3%;
    margin-left: 27%;
  }
  .dropdowncontent{
    width: 20%;
  }
}
@media screen and (min-width: 960px) {
.nav-link-bar{
  display:none;
  }
 .nav-site-title2{
  display:none;
  }
}
.nav-title{
  font-size: 130%;
  margin-left: 10%;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(34, 71, 9);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.closebtn{
  color: #242222;
  cursor:pointer;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
