.category-item {
  height: 400px;
}
.carditem-box {

  height: 20%;
  margin-right: 0%;
}
@media only screen and (max-width: 320px) {
  .box {
    width: 100px;
    height: 100px;
    background: #e5e4e2;
    float: left;
    margin: 6%;
    box-sizing: border-box;
    border-style: solid;
    border-color: #fff;
    border-radius: 10%;
    transition: 0.5s ease;
    /* box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17); */
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    /* filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017)); */
  }
  
}

@media only screen and (min-width: 360px) {

  .box {
    width: 115px;
    height: 115px;
    background: #e5e4e2;
    float: left;
    margin: 6%;
    box-sizing: border-box;
    border-style: solid;
    border-color: #fff;
    border-radius: 10%;
    transition: 0.5s ease;
    /* box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17); */
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    /* filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017)); */
  }
 
}
@media only screen and (min-width: 425px) {
  .box {
    width: 140px;
    height: 140px;
    background: #e5e4e2;
    float: left;
    margin: 6%;
    box-sizing: border-box;
    border-style: solid;
    border-color: #fff;
    border-radius: 10%;
    transition: 0.5s ease;
    /* box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17); */
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    /* filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017)); */
  }
}
@media only screen and (min-width: 760px) {
  .box {
    width: 130px;
    height: 130px;
    background: #e5e4e2;
    float: left;
    margin: 2%;
    box-sizing: border-box;
    border-style: solid;
    border-color: #fff;
    border-radius: 10%;
    transition: 0.5s ease;
    /* box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17); */
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    /* filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017)); */
  }
  .carditem-box {

    height: 20%;
    margin-left: 3%;
  }

}
@media only screen and (min-width: 1000px) {
  .box {
    width: 150px;
    height: 150px;
    background: #e5e4e2;
    float: left;
    margin: 4%;
    box-sizing: border-box;
    border-style: solid;
    border-color: #fff;
    border-radius: 10%;
    transition: 0.5s ease;
    /* box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17); */
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    /* filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017)); */
  }
  .carditem-box {
    height: 20%;
    margin-left: 3%;
  }
}
@media only screen and (min-width: 1400px) {
  .box {
    width: 180px;
    height: 180px;
    background: #e5e4e2;
    float: left;
    margin: 5%;
    box-sizing: border-box;
    border-style: solid;
    border-color: #fff;
    border-radius: 10%;
    transition: 0.5s ease;
    /* box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17); */
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    /* filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017)); */
  }
}


/* @media screen and (max-width: 960px) {
  .carditem-box {
    display: block;
  }
  .carditem-box .box {
    width: 150px;
  }
  .carditem-box .box .icon img {
    left: 60px;
  }
  .carditem-box .box .content h3 {
    left: 30px;
  }
  .carditem-box .box .content-hen h3 {
    left: 45px;
  }
} */
  
.carditem-box .box .icon img {
  position: absolute;
  top: 35%;
  left: 35%;
  width: 30%;
  height: 30%;
}
.carditem-box .box .content h3 {
  position: absolute;
  justify-content: center;
  top: 70%;
  left: 30%;
  color: rgb(255, 255, 255);
}
.carditem-box .box .content-3letter h3 {
  position: absolute;
  justify-content: center;
  top: 70%;
  left: 35%;
  color: rgb(255, 255, 255);
}

.carditem-box .box .content-4letter h3 {
  position: absolute;
  justify-content: center;
  top: 70%;
  left: 35%;
  color: rgb(255, 255, 255);
}

.carditem-box .box:hover {
  background-color: green;
  transform: scale(1.08);
}