
@media only screen and (max-width: 320px) {
  .homepage-section{
    height: 6%;
  }.services {
    position: relative;
    margin-top: 8%;
    margin-left: 3%;
    display: flex;
    width: 30%;
  }
  .span-ten {
    margin-left: 15%;
  }
  .span-five {
    margin-left: 8%;
  }
  
  .service-circle {
    height: 60px;
    width: 60px;
    background-image: linear-gradient(#0a4914, #3b9644);
    border-radius: 50%;
    display: inline-block;
    padding-top: 25%;
    padding-left: 3%;
    margin-left: 10%;
    font-size: 56%;
    color: white;
    text-align: center;
    transition: ease-in 1.5sec;
    cursor: pointer;
  }

}
@media only screen and (min-width: 360px) {
  .homepage-section{
    height: 6%;
  }.services {
    position: relative;
    margin-top: 8%;
    margin-left: 5%;
    display: flex;
    width: 30%;
  }
  .span-ten {
    margin-left: 15%;
  }
  .span-five {
    margin-left: 8%;
  }
  
  .service-circle {
    height: 65px;
    width: 65px;
    background-image: linear-gradient(#0a4914, #3b9644);
    border-radius: 50%;
    display: inline-block;
    padding-top: 25%;
    padding-left: 3%;
    margin-left: 10%;
    font-size: 66%;
    color: white;
    text-align: center;
    transition: ease-in 1.5sec;
    cursor: pointer;
  }

}
@media only screen and (min-width: 425px) {
  .homepage-section{
    height: 6%;
  }.services {
    position: relative;
    margin-top: 8%;
    margin-left: 6.5%;
    display: flex;
    width: 30%;
  }
  .span-ten {
    margin-left: 15%;
  }
  .span-five {
    margin-left: 8%;
  }
  
  .service-circle {
    height: 70px;
    width: 70px;
    background-image: linear-gradient(#0a4914, #3b9644);
    border-radius: 50%;
    display: inline-block;
    padding-top: 25%;
    padding-left: 3%;
    margin-left: 10%;
    font-size: 70%;
    color: white;
    text-align: center;
    transition: ease-in 1.5sec;
    cursor: pointer;
  }

}
@media only screen and (min-width: 760px) {
  .homepage-section{
    height: 6%;
  }.services {
    position: relative;
    margin-top: 8%;
    margin-left: 13%;
    display: flex;
    width: 30%;
  }
  .span-ten {
    margin-left: 15%;
  }
  .span-five {
    margin-left: 8%;
  }
  
  .service-circle {
    height: 100px;
    width: 100px;
    background-image: linear-gradient(#0a4914, #3b9644);
    border-radius: 50%;
    display: inline-block;
    padding-top: 25%;
    padding-left: 3%;
    margin-left: 10%;
    font-size: 100%;
    color: white;
    text-align: center;
    transition: ease-in 1.5sec;
    cursor: pointer;
  }

}
@media only screen and (min-width: 1000px) {
  .homepage-section{
    height: 6%;
  }.services {
    position: relative;
    margin-top: 8%;
    margin-left: 10%;
    display: flex;
    width: 30%;
  }
  .span-ten {
    margin-left: 15%;
  }
  .span-five {
    margin-left: 8%;
  }
  
  .service-circle {
    height: 150px;
    width: 150px;
    background-image: linear-gradient(#0a4914, #3b9644);
    border-radius: 50%;
    display: inline-block;
    padding-top: 25%;
    padding-left: 3%;
    margin-left: 10%;
    font-size: 150%;
    color: white;
    text-align: center;
    transition: ease-in 1.5sec;
    cursor: pointer;
  }

}
@media only screen and (min-width: 1400px) {
  .homepage-section{
    height: 6%;
  }.services {
    position: relative;
    margin-top: 8%;
    margin-left: 20%;
    display: flex;
    width: 30%;
  }
}
.service-circle:hover {
  transform: scale(1.08);
}

.services-link {
  text-decoration: none;
}

.services-link:hover {
  text-decoration: none;
}
