.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.image {
  width: 100%;
  height: 730px;
  border-radius: 10px;
  z-index: -1;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media screen and (max-width: 960px) {
  .image {
    width: 100%;
    height: 600px;
  }
}
