.container-cartitem {
  background-color: rgb(245, 245, 245);
  border-radius: 2%;
  width: 100%;
  margin-left: 2%;
}

.cart-title {
  padding-top: 2%;
  font-size: x-large;
  font-weight: 600;
}

.cart-item-header {
  font-size: large;
}

.cart-empty-header {
  padding-top: 3%;
  font-size: large;
}

.cart-item-img {
  width: 100%;
  padding: 2%;
}

.cart-item-name-div {
}

.cart-item-name {
  text-decoration: none;
  font-size: large;
}

.cart-item-name:hover {
  text-decoration: none;
}

.cart-item-instock {
  color: green;
  font-size: medium;
}

.cart-item-left {
  font-size: smaller;
}

.cart-item-price {
  padding-top: 5%;
  padding-left: 5%;
}

.cart-item-quantity-select {
  padding-left: 10%;
  padding-top: 5%;
}

.cart-item-quantity {
  display: flex;
}

.cart-item-Quantity-number-input {
  width: 35%;
}

.cart-item-remove {
  padding-top: 5%;
  padding-left: 8%;
}

.cart-item-remove-link {
  text-decoration: none;
  color: rgb(45, 31, 231);
}

.cart-item-remove-link:hover {
  text-decoration: none;
}

.cart-item-total {
  display: flex;
  justify-content: right;
}

.cart-item-total-amount {
  padding-left: 5%;
  font-size: larger;
  font-weight: 600;
}

.cart-item-proceed-btn {
  padding-left: 15%;
  padding-bottom: 5%;
  height: 10%;
}

.cart-item-footer {
  display: flex;
}

.cart-empty {
  padding-bottom: 5%;
}

.cart-empty-message {
  padding-top: 1%;
  padding-bottom: 3%;
  font-size: medium;
}

.cart-empty-login-link-div {
  padding-top: 1%;
  padding-bottom: 3%;
}

.cart-empty-login-link {
  text-decoration: none;
  font-size: medium;
}

.cart-empty-login-link:hover {
  text-decoration: none;
}

.cart-empty-buy-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.cart-empty-buy-link:hover {
  text-decoration: none;
}
