.background {
  color: black;
  height: 350px;
}

.center-heading {
  padding-left: 40%;
  padding-top: 10%;
  color: white;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  font-size: xx-large;
}

.split-line {
  color: white;
  width: 75%;
  padding-left: 25%;
}

.center-sentence {
  padding-left: 35%;
  color: white;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
}
