.custom-control-label {
  font-weight: 400;
}

.sign-in-phone {
  width: 20rem;
}

.sign-in-password-field {
  width: 70%;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.register-text {
  text-align: left;
  font-size: 13px;
  color: #7f7d7d;
}

.sign-in-usertype {
  padding-left: 2%;
}

.signin-text {
  text-align: right;
  font-size: 13px;
  color: #7f7d7d;
}

.user-reg-name {
  display: flex;
}

.user-reg-name-field {
  padding-left: 1rem;
}

.user-reg-title-field {
  width: 6rem;
}

.user-reg-error-message {
  color: #ff0000bf;
  font-size: 0.7rem;
  border: 1px solid;
  padding: 1rem;
  border-radius: 10px;
}

.error {
  color: red;
}

.error-backend {
  color: red;
  justify-content: center;
  font-size: larger;
  padding-left: 5%;
}

.logout-redirect-button {
  text-decoration: none;
  color: black;
}

.logout-redirect-butto :hover {
  color: black;
  text-decoration: none;
}
