.seller-product-container {
  width: 70%;
  padding-left: 2%;
  padding-top: 2%;
}

.seller-product-heading {
  font-size: x-large;
  font-weight: 600;
}

.seller-product-message-content {
  font-size: medium;
  padding-left: 0.5%;
  padding-bottom: 2%;
}

.seller-product-card-list {
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 5%;
}

.seller-product-item-card {
  width: 100%;
}

.seller-product-item-name {
  text-decoration: none;
  font-size: larger;
}

.seller-product-item-name:hover {
  text-decoration: none;
  transform: translateY(-10px);
}

.help-link {
  text-decoration: none;
  font-size: medium;
}

.help-link:hover {
  text-decoration: none;
}

.seller-product-category-header {
  font-size: large;
  float: right;
}

.seller-product-delivery-detail-div {
  padding-top: 2%;
  width: 20%;
}
.seller-product-delivered {
  color: green;
  font-weight: 700;
}

.seller-product-item-card-text {
  display: flex;
}

.seller-product-img-div {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 15px;
  border: 3px;
  display: flex;
}

.seller-product-total-div {
  padding: 2%;
}

.seller-product-list-detail {
  float: right;
  padding-left: 7%;
}

.seller-product-list-sold {
  color: red;
  font-weight: 600;
}

.seller-product-delivery-address {
  font-weight: 500;
  padding-left: 5%;
}

.seller-product-delivery-address-heading {
  font-size: medium;
  font-weight: 700;
}

.seller-product-delivery-address-type {
  font-weight: 800;
}

.seller-product-message {
  margin-bottom: 15%;
}

.seller-product-empty-header {
  padding-top: 1%;
  font-size: x-large;
}

.seller-product-empty-message {
  padding-top: 1%;
  padding-bottom: 10%;
  font-size: medium;
}

.seller-product-empty-buy-link {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.seller-product-empty-buy-link:hover {
  text-decoration: none;
}

.seller-product-empty-login-link-div {
  padding: 3%;
  padding-bottom: 10%;
}

.seller-product-empty-login-link {
  text-decoration: none;
  font-size: medium;
}

.seller-product-empty-login-link:hover {
  text-decoration: none;
}
